.layout-admin {
  .admin-photos-chooser {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: 0;
    background: #000;
    z-index: 5;
    .admin-photos-container {
      text-align: center;
      line-height: 0;
      border-top: 1px solid #444;
      .admin-photo-item {
        position: relative;
        display: inline-block;
        border: 5px solid #444;
        width: 300px;
        height: 250px;
        overflow: hidden;
        cursor: pointer;
        &:hover {
          border-color: #fff;
        }
        img {
          width: 100%;
        }
        .admin-photo-delete {
          position: absolute;
          top: 0; right: 0;
          margin: 1em;
          display: none;
        }
        &:hover {
          .admin-photo-delete{
            display: block;
          }
        }
      }
    }
  }
}