.layout-admin {
  .admin-all-photos {
    .admin-photos-container {
      text-align: center;
      line-height: 0;
      border-top: 1px solid #444;
      .admin-photo-item {
        position: relative;
        display: inline-block;
        border: 1px solid #444;
        width: 300px;
        height: 250px;
        overflow: hidden;
        img {
          width: 100%;
        }
        .admin-photo-delete {
          position: absolute;
          top: 0; right: 0;
          margin: 1em;
          display: none;
        }
        &:hover {
          .admin-photo-delete{
            display: block;
          }
        }
      }
    }
  }
}