.layout-admin {

  h3 {
    line-height: 1;
    padding: 1em;
    text-transform: uppercase;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 16px;
  }

  h2 {
    line-height: 1;
    padding: 1em;
    text-transform: uppercase;
    border-bottom: 1px solid #aaa;
    color: #aaa;
    font-size: 12px;
  }

  .admin-input {
    border: none;
    background: none;
    color: #fff;
    border-bottom: 1px solid #666;
    outline: 0;
    margin-left: 1em;
  }

  .btn {
    background: #333;
    border: 1px solid #444;
    padding: 0.5em 1em;
    color: #fff;
    &:hover {
      border: 1px solid #fff;
    }
  }

  .admin-btn-delete {
    position: absolute;
    top: 0; right: 0;
    border: 1px solid transparent;
    background: #a66;
    &:hover {
      border: 1px solid #fff;
    }
  }

  .admin-margin-1 {
    margin: 1em;
  }

  .admin-margin-05 {
    margin: 1em;
  }

  .admin-loading {
    margin: 1em;
  }

  color: #fff;
  * {
    font-family: calibri;
  }

  .top-menu {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    z-index: 5;
    button {
      padding: 1em;
      border: none;
      background: #fff;
      color: #000;
      font-size: 14px;
      outline: 0;
      text-transform: uppercase;
      opacity: 1;
      &.active {
        background: #00f;
        color: #fff;
        opacity: 1;
      }
      &:hover{
        background: #88f;
      }
    }
  }

  .admin-body {
    margin-top: 3em;
  }

  .admin-error-message {
    font-size: 11px;
    color: #fcc;
    padding: 0.5em;
    border: 1px solid #f99;
    background: #433;
    display: inline-block;
  }

}