.layout-gallery {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0% 0 0 210px;
  box-sizing: border-box;

  line-height: 0;

  @include scrollbars(0, transparent, transparent);

  text-align: center;

  .photos-bkg {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(255,255,255,0.2);
    transition: transform 0.5s, opacity 0.5s;
    box-sizing: border-box;
    padding-bottom: 100px;

    animation: fadein 1s;

    .mini-photos-scrollBar {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100px;
      overflow-x: scroll;
      overflow-y: hidden;

      background: linear-gradient(to right, rgba(0,0,0,0.8), rgba(0,0,0,0));

      @include scrollbars(0, transparent, transparent);

      .mini-photo {
        position: relative;
        display: inline-block;
        .hover {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0; top: 0;
          background: #000;
          opacity: 0.2;
          cursor: pointer;
          transition: opacity 0.3s;
          &:hover {
            opacity: 0;
          }
        };
      }
    }

    .scroll-arrows {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 0;
      .v-arrow {
        position: absolute;
        bottom: 0;
        width: 2em;
        height: 2em;
        color: #aaa;
        line-height: 2;
        font-family: consolas;
        cursor: pointer;
        transition: color 1s;
        background: rgba(0,0,0,0.8);
        &:hover {
          color: #fff;
        }
        &.left-arrow {
          left: 0;
          &:before {
            content: '<';
          }
        }
        &.right-arrow {
          right: 0;
          &:before {
            content: '>';
          }
        }
      }
    }

    .main-photo-container {
      position: relative;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      overflow: hidden;
      img {
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        left: 0; right: 0; top: 0; bottom: 0;
        margin: auto;
        border-radius: 3px;
        cursor: pointer;
        &.next-img {
          animation: show-photo 1s;
        }
        &.current-img {
          animation: hide-photo 1s;
          opacity: 0;
        }
      }
    }
  }

  &.layout-gallery--fade-out {
    .photos-bkg {
      opacity: 0;
      transform: scale(0.9);
    }
  }
}

@keyframes fadein {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes show-photo {
  0% {opacity: 0; }

  100% {opacity: 1; }
}

@keyframes hide-photo {
  0% {opacity: 1; }
  100% {opacity: 0; }
}
