.layout-main {
  position: absolute;
  width: 100%; height: 100%;
  overflow: hidden;
  background: #000;
  .left-menu {
    position: absolute;
    left: 60px; top: 200px;
    font-weight: bold;
    ul {
      list-style: none;
      li {
        margin: 1em 1em 1em 0;
        font-size: 15px;
        cursor: pointer;
        transition: color 0.5s;
        color: #fff;
        text-shadow: 0 0 3px #000;
        font-family: Calibri;
        text-transform: uppercase;
        &:hover {
          text-shadow: 0 0 3px #555;
        }
        &.separator {
          height: 3px;
          width: 50px;
          background: #fff;
        }
      }
    }
  }

  .logo {
    position: absolute;
    margin: auto;
    left: 50px;
    top: 50px;
    .camera-logo {
      position: absolute;
      width: 50px;
      top: 20px;
      left: 25px;
    }
    .camera-wreath-logo {
      position: absolute;
      width: 100px;
    }
  }

  .main-image {
    position: absolute;
    width: 100%;

  }

  .main-image-shadow {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(0,0,0,0) 50%, rgba(0,0,0,0.3) 75%, rgba(0,0,0,0.6) 100%);
  }

  .points {
    position: absolute;
    bottom: 50px;
    right: 50px;
    text-align: center;
    .point {
      display: inline-block;
      border-radius: 50%;
      background: rgba(0,0,0,0.5);
      width: 10px; height: 10px;
      transition: background 1s, box-shadow 1s;
      margin: 5px;
      &.point--active {
        background: rgba(255,255,255,1);
        box-shadow: 0 0 10px #fff;
      }
    }
  }

  .photographer-title {
    h1 {
      font-size: 30px;
      text-transform: uppercase;
    }
    h2 {
      letter-spacing: 0.45em;
      text-transform: uppercase;
      font-size: 15px;
    }
    .framing {
      margin-top: -15px;
    }
    position: absolute;
    top: 30px;
    right: 0;
    padding: 20px 50px 20px 100px;
    color: #fff;
    text-shadow: 0 0 2px #000;
    text-align: center;
  }
}
