.layout-main {
  position: relative;
  width: 100%; height: 100%;
  .left-menu {
    position: absolute;
    left: 0; top: 0;
    background: rgba(255,255,255,0.5);
    width: 300px;
    height: 2000px;
    color: #333;
    font-weight: bold;

    ul {
      margin: 100px;
      list-style: none;
      li {
        margin: 1em 1em 1em 0;
        font-size: 20px;
        cursor: pointer;
        transition: color 0.5s;
        color: #444;
        &:hover {
          color: #000;
        }
      }
    }
  }

  .camera-logo {
    margin: 100px;
    width: 100px;
  }

  .main-image {
    position: absolute;
    width: 100%;
  }

  .points {
    width: 100%;
    top: 50px;
    text-align: center;
    .point {
      display: inline-block;
      border-radius: 50%;
      background: rgba(0,0,0,0.5);
      border: 1px solid #fff;
      width: 10px; height: 10px;
      transition: background 1s;
      margin: 5px;
      &.point--active {
        background: rgba(255,255,255,0.5);
      }
    }
  }

  .photographer-title {
    h1 {
      font-size: 50px;
      color: #333;
      text-align: center;
      text-transform: uppercase;
    }
    h2 {
      color: #333;
      text-align: center;
      letter-spacing: 0.5em;
      text-transform: uppercase;
    }
    position: absolute;
    top: 50px;
    right: 50px;
    background: rgba(255,255,255,0.5);
    padding: 20px 30px;
  }
}
