.layout-main {
  position: absolute;
  width: 100%; height: 100%;
  overflow: hidden;
  background: #000;
  .left-menu {
    position: absolute;
    left: 60px; top: 50px;
    font-weight: bold;
    transition: opacity 0.5s;
    ul {
      list-style: none;
      li {
        font-size: 15px;
        cursor: pointer;
        transition: color 0.5s, text-shadow 0.5s;
        color: #eee;
        text-shadow: 0 0 3px #000;
        font-family: "Taurus";
        line-height: 3;
        >span {
          font-family: "Taurus";
        }
        text-transform: uppercase;
        &:hover, &.active {
          color: #fff;
          text-shadow: 0 0 10px #fff;
        }
        &.active {
          list-style: circle;
        }
        .separator {
          height: 1px;
          width: 8em;
          background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,0));
          margin-left: -1em;
        }
      }
    }
    &.left-menu--hidden {
      opacity: 0;
    }
  }

  .logo {
    position: absolute;
    margin: auto;
    left: 50px;
    top: 50px;
    .camera-logo {
      position: absolute;
      width: 50px;
      top: 20px;
      left: 25px;
    }
    .camera-wreath-logo {
      position: absolute;
      width: 100px;
    }
  }

  .main-image {
    position: absolute;
    width: 100%;
    transition: opacity 1s, filter 1s;
  }

  .main-image-shadow {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(0,0,0,0) 50%, rgba(0,0,0,0.3) 75%, rgba(0,0,0,0.6) 100%);
  }

  .points {
    position: absolute;
    bottom: 50px;
    right: 50px;
    text-align: center;
    .point {
      display: inline-block;
      border-radius: 50%;
      background: rgba(0,0,0,0.5);
      width: 10px; height: 10px;
      transition: background 1s, box-shadow 1s;
      margin: 5px;
      &.point--active {
        background: rgba(255,255,255,1);
        box-shadow: 0 0 10px #fff;
      }
    }
  }

  .photographer-title {
    h1 {
      font-size: 30px;
      text-transform: uppercase;
    }
    h2 {
      letter-spacing: 0.45em;
      text-transform: uppercase;
      font-size: 15px;
    }
    .framing {
      width: 300px;
    }
    position: absolute;
    top: 30px;
    right: 0;
    padding: 20px 90px 20px 100px;
    color: #fff;
    text-shadow: 0 0 2px #000;
    text-align: center;
  }

  .arrows {
    position: absolute;
    width: 100%;
    left: 0;
    top: 350px;
    .left-arrow, .right-arrow {
      position: absolute;
      top: 0;
      cursor: pointer;
      color: #ccc;
      text-shadow: 0 0 2px #000;
      transition: text-shadow 0.5s, color 0.5s;
      &:hover {
        color: #fff;
        text-shadow: 0 0 10px #fff;
      }
      &:before {
        font-family: consolas;
        font-size: 50px;
      }
    }
    .left-arrow {
      left: 80px;
      &:before {
        content: '<';
      }
    }
    .right-arrow {
      right: 80px;
      &:before {
        content: '>';
      }
    }
  }

  .hide-on-blur {
    transition: opacity 1s;
    opacity: 1;
  }

  &.layout-main--blured {
    .main-image {
      filter: blur(5px) grayscale(0.5);
    }
    .hide-on-blur {
      opacity: 0;
    }
  }

}
